@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 2rem;
  background-color: #fff;
  font-family: gilroy;
}

p {
  max-width: 581px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 1rem;
}

.section-leveza {
  max-width: 1400 px;
  margin: 0 auto;
}

.nav-initial {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 4rem;
}

.nav-initial-list {
  font-size: 2.8rem;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-initial-list__item {
  padding: 2.1rem;
}

.nav-initial-input__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-initial-input {
  padding: 1.5rem 0rem;
  text-align: center;
  font-size: 2rem;
  border-radius: 5rem;
  background-color: #F2F2F2;
}

.nav-initial-input__lupa {
  position: relative;
  right: 22rem;
}

.first-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 8rem;
  margin-bottom: 20rem;
}

.first-section__title {
  font-size: 10.4rem;
  font-weight: 700;
  background: -webkit-linear-gradient(180deg, #dadada, #9f9f9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.first-section__images {
  background: -webkit-gradient(linear, right top, left top, from(#dadada), to(#9f9f9f));
  background: linear-gradient(270deg, #dadada 0%, #9f9f9f 100%);
  border-radius: 50%;
  max-width: 581px;
  min-height: 581px;
  padding-bottom: 3px;
}

.first-section__tenis {
  position: relative;
  right: 25rem;
}

.first-section__text {
  max-width: 475px;
  margin-top: 2.4rem;
}

.first-section__button {
  padding: 2.5rem 4rem;
  border-radius: 12px;
  font-size: 2rem;
  font-weight: 700;
  margin-top: 10.8rem;
}

.first-section__button:hover {
  background-color: #F2F2F2;
  border-color: #f3f3f3;
}

.first-section__button:focus {
  background-color: #d2d2d2;
  border-color: #f3f3f3;
}

.first-section .font {
  font-size: 2.5rem;
}

.section-colors {
  background-color: #f3f3f3;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 6.4rem;
  text-align: center;
}

.section-colors__container > h2 {
  font-size: 4rem;
  margin-bottom: 6.4rem;
}

.section-colors__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.section-colors__item {
  padding: 0 1rem;
}

.section-colors__colors {
  font-size: 2rem;
}

.button-aside {
  margin-top: 6.4rem;
}

.section-leveza {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin-top: 20rem;
  max-width: 1400px;
}

.section-leveza__title {
  font-size: 6.4rem;
  font-weight: 700;
  background: -webkit-linear-gradient(180deg, #dadada, #9f9f9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 5.6rem;
}

.section-leveza__text {
  font-size: 2rem;
  line-height: 2.8rem;
  max-width: 581px;
  font-weight: 400;
}

.section-leveza__img {
  background-image: url("./img/Leveza e agilidade.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.section-leveza__box2 {
  background-image: url("./img/Sensação de estabilização.png");
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  height: 600px;
}

.section-damping {
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 41%;
      grid-template-columns: 1fr 41%;
  margin: 0 auto;
  height: 600px;
  margin-top: 20rem;
  max-width: 1400px;
}

.section-damping__text {
  line-height: 2.8rem;
}

.pista {
  background-image: url("/img/pista.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  color: #fff;
  font-size: 10.4rem;
  font-weight: 700;
  padding: 2.4rem 6%;
  margin: 20rem 0;
}

.pista-icon {
  margin-bottom: 12px;
}

.section-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
  border-radius: 8px 0px 0px 8px;
  background-color: #F2F2F2;
  height: 838px;
}

.section-form__map {
  background-image: url("/img/mapa.png");
  background-repeat: no-repeat;
  width: 60%;
}

.section-form__box {
  width: 36%;
  padding-top: 2rem;
}

.section-form__enter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-form__title {
  margin: 2rem 0;
  font-size: 4rem;
}

.section-form__input {
  padding: 3rem;
  font-size: 2rem;
  border-radius: 12px;
  border: none;
  margin: 2rem 0;
}

.section-form__inputcom {
  font-family: gilroy;
}

.input-check {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  margin-right: 2rem;
}

.section-form__check {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #969696;
}

.button-form {
  border: 2px solid #000;
  cursor: pointer;
  font-weight: 700;
}

.footer {
  background-color: #F2F2F2;
}

.footer-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 16rem;
  padding-top: 5.6rem;
}

.footer-list, .footer-sociais {
  list-style: none;
}

.footer-list__item, .footer-sociais__item {
  margin-bottom: 12px;
}

.footer-list__paragraf, .footer-sociais__paragraf {
  margin-bottom: 1.6rem;
  font-weight: 500;
}

.footer-sociais__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5.6rem;
}

.footer-icons {
  margin-right: 1rem;
}
/*# sourceMappingURL=estilo.css.map */